.Main {
	width: 100%;
	height: 100%;
	header {
		max-width: 1280px;
		display: flex;
		flex-direction: column;
		margin: 0 auto;
		padding: 0 0 20px;
		border-bottom: 2px solid #e8e8e8;

		.nav_top_wrapper {
			width: 100%;
			display: flex;
			margin: 0 auto;
			justify-content: flex-end;
			.nav_top {
				li {
					display: inline-block;
					padding-left: 25px;
					font-family: AppleSDGothicNeo;
					font-size: 18.5px;
					font-weight: 300;

					img{
						width: 45px;
					}
				}
			}
		}

		.nav_bottom {
			width: 100%;
			display: flex;
			align-items: center;
			justify-content: space-between;
			margin: 0 auto;
			padding-top: 20px;
			.logo {
				width: 165px;
				height: 20px;

				p {
					font-family: Arial;
					font-size: 28px;
					font-weight: 900;
				}
			}
			.nav_menu {
				li {
					display: inline-block;
					font-family: AppleSDGothicNeo;
					font-size: 19.5px;
					font-weight: 600;
					color: #474747;
					text-align: left;
					vertical-align: middle;
					padding: 0 10px;
				}
			}
		}
	}

	.main_top_wrap {
		max-width: 1280px;
		display: flex;
		align-items: flex-start;
		justify-content: center;
		flex-direction: column;
		margin: auto;

		.main_top {
			width: 100%;
			position: relative;
			.bg {
				position: absolute;
				width: 90%;
				top: 20%;
				right: -10%;
				z-index: -1;
			}
			.dot_small {
				position: absolute;
				z-index: -1;
				width: 5%;
				top: 10%;
				left: -5%;
			}
			.dot_large {
				position: absolute;
				z-index: -1;
				bottom: -130%;
				right: -5%;

			}
			div {
				margin: 10% 0;
				h2 {
					font-size: 48.5px;
					font-weight: 200;
					text-align: left;
					color: #000000;
				}
				h1 {
					font-size: 48.5px;
					font-weight: 800;
					text-align: left;
					color: #000000;

					span {
						background-color: #f7ff1b;
					}
				}
			}

			.search {
				width: 100%;
				margin: 10% 0;
				box-shadow: 10px 5px 10px 5px gray;
				border-radius: 50px;
				z-index: 20;
				input {
					padding: 15px 15px 10px;
					width: 100%;
					height: 50px;
					border-radius: 50px;
					background-color: #ffffff;
					font-size: 30px;
					font-weight: 200;

				}

				input::placeholder {
					color: #9a9a9a;
					font-size: 30px;
					font-weight: 200;
					padding-left: 15px;
					div {
						font-size: 30px;
					}
				}
			}
		}

		.slick-slider {
			width: 100%;
			height: 515px;
			overflow: hidden;
			margin: 3% 0;
			button {
				display: none;
				border: none;
				background-color: transparent;
				color: transparent;
			}
			.slick-list {
				max-width: 1280px;
			}
			.slick-slide {
				padding: 5px;
				.slick-current {
					width: 300px;
					border: 1px solid;
				}

				div {
					border-radius: 25px;
					padding: 5px;
					width: 300px;
					.component {
						border: 1px solid;
						min-height: 300px;
						box-shadow: 1px 5px 10px 1px gray;
						background-color: #ffffff;
						z-index: 20;
						div {
							width: 280px;
							min-height: 300px;
							display: flex;
							flex-direction: column;
							align-items: flex-start;
							justify-content: space-between;
							padding : 15px;

							h3 {
								font-size: 32px;
								font-weight: 700;
								padding: 15px;
							}

							p {
								font-size: 24px;
								font-weight: 300;
								padding: 15px;
								span {
									font-family: AppleSDGothicNeo;
									font-size: 18.5px;
									font-weight: 200;
									line-height: 1.19;
									color: #858585;
								}
							}

							h4 {
								font-size: 20px;
								font-weight: 300;
								padding: 15px;
							}
						}
					}
				}
			}
		}

		.middle_info {
			width: 100%;
			background-color: #000000;
			position: relative;
			p {
				font-family: AppleSDGothicNeo;
				font-size: 22px;
				font-weight: 200;
				color: #ffffff;
				padding:  5% 10%;
				text-align: center;
			}
			.background {
				position: absolute;
				z-index: 1;
				width: 78%;
				top: 45%;
				left: -30%;
				img {
					width: inherit;
				}
			}
		}
	}


	.main_card_wrap {
		max-width: 1280px;
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		margin: auto;


		.main_card {
			width: 100%;
			text-align: center;

			.card_filter {
				display: block;
				width: 100%;
				font-size: 39.5px;
				font-weight: 300;
				background-color: #f6f6f6;
				padding: 5% 0;
				p {
					select {
						padding: 0 3%;
						margin: 0 10px;
						option {
							padding: 3%;
						}
					}
				}
			}
			.card_list {
				z-index:2;
				display: flex;
				align-items: center;
				justify-content: space-around;
				flex-direction: column;
				margin: auto;

				.MainCard {
					z-index: 10;
					width: 80%;
					height: 10%;
					margin: 0 0  5% 0;
					background-color: #ffffff;
					.card {
						border: 1px solid;
						text-align: left;
						padding: 5%;
						h1 {
							font-size: 37.5px;
							font-weight: 800;
						}
						p {
							font-size: 24px;
							font-weight: 200;
							padding: 20px 0;
						}
						span {
							font-size: 20px;
							font-weight: 600;
						}
						button {
							img {
								width: 32px;
								height: 32px;
							}
						}
					}
				}
			}
		}
	}

	footer {
		max-width: 1280px;
		margin: 0 auto;
		height: 15%;
		bottom: 0;
		color: white;
		background: black;
		padding: 3% 0;

		.logo {
			p {
				font-family: Arial;
				font-size: 28px;
				font-weight: 900;
				margin: 25px 25px 40px;
			}
		}

		.info {
			margin: 25px;
			p {
				font-family: AppleSDGothicNeo;
				font-size: 23px;
				font-weight: 8000;
				padding-bottom: 15px;
			}
			span {
				font-family: AppleSDGothicNeo;
				font-size: 21.5px;
				font-weight: 200;
			}
		}
	}
}
