* {
	box-sizing: border-box;
}
body {
	margin: 0;
	padding: 0;

}

html,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
img,
s,
small,
strike,
strong,
sub,
sup,
tt,
b,
u,
i,
center,
ol,
ul,
li,
table,
thead,
tbody,
tr,
th,
td,
fieldset,
form,
label,
legend,
caption,
article,
aside,
canvas,
footer,
menu,
nav,
section,
summary,
audio,
video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;
}
article,
aside,
footer,
header,
nav,
section {
	display: block;
}
body {
	line-height: 1;
}
ol,
ul {
	list-style: none;
}

a,
a:link,
a:visited,
a:active {
	text-decoration: none;

	color: black;

	color: #111;
}

button {
	margin: 0;
	padding: 0;
	border: none;
	background: none;

	outline: none;
	cursor: pointer;
}

input,
input:focus {
	border: none;
	outline: none;
}
